{% extends 'base.html.twig' %}

{% block title 'admin_post_index' %}

{% block content %}
    <div class="container">
        <h1>{{ 'title.post_list'|trans }}</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ 'label.title'|trans }}</th>
                <th scope="col">{{ 'label.published_at'|trans }}</th>
                <th scope="col">{{ 'label.actions'|trans }}</th>
                <th><a href="{{ path('admin_new_post') }}" class="btn btn-primary">{{ 'action.create_post'|trans }}</a></th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <th scope="row">{{ post.id }}</th>
                    <td>{{ post.title }}</td>
                    <td>{{ post.publishedAt|format_datetime('medium', 'short', '', 'UTC') }}</td>
                    <td>
                        <a href="{{ path('admin_post_edit', {id: post.id}) }}" class="btn btn-primary">{{ 'action.edit'|trans }}</a>
                        {{ include('admin/blog/_delete_form.html.twig') }}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4" >{{ 'post.no_posts_found'|trans }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}
