{% extends 'base.html.twig' %}

{% block content %}
   <div class="container">
       <h1>{{ 'name.category_new'|trans }}</h1>
       {{ form_start(form) }}
       {{ form_row(form.name) }}
       {{ form_widget(form.saveCategory, {label: 'label.save_category', attr: {class: 'btn btn-primary'}}) }}
       {{ form_end(form) }}
   </div>
{% endblock %}